%ul.nav.nav-tabs{style: 'margin:10px 0px 20px;'}
  %li
    %a{href: '#account', 'data-toggle' => 'tab'} Account
  %li.active
    %a{href: '#subscription', 'data-toggle' => 'tab'} Subscription
  %li
    %a{href: '#payments', 'data-toggle' => 'tab'} Payment

%div.tab-content
  %div#account.tab-pane
    %div.row
      %div.col-xs-12.col-sm-6.col-md-4.col-lg-4.col-sm-offset-0.col-md-offset-2
        = form_for(current_user, :url => user_path(current_user), :html => { role: 'form', :method => :put, :id => 'user-form' }) do |f|
          %div.panel.panel-default
            %div.panel-heading
              %h3.panel-title Personal Info
            %div.panel-body
              %div.row
                %div.form-group.col-xs-12
                  %label First Name
                  %input.form-control.required.first_name{type: 'text', id: 'user_first_name', name: 'user[first_name]', placeholder: 'First Name', value: current_user.first_name}

                %div.form-group.col-xs-12
                  %label Last Name
                  %input.form-control.required.last_name{type: 'text', id: 'user_last_name', name: 'user[last_name]', placeholder: 'Last Name', value: current_user.last_name}
                %div.form-group.col-xs-12
                  %label Email
                  %input.form-control.required.email{type: 'text', id: 'user_email', name: 'user[email]', placeholder: 'Email', value: current_user.email}

                %div.form-group.col-xs-12
                  %label{for: 'user_email'}
                  %button.btn.btn-primary.pull-right{type: 'submit', style: 'margin-top:0px;'} Update

      %div.col-xs-12.col-sm-6.col-md-4.col-lg-4
        = form_for(current_user, :url => user_path(current_user), :html => { role: 'form', :method => :put, :id => 'password-form' }) do |f|
          %div.panel.panel-default
            %div.panel-heading
              %h3.panel-title Change Password
            %div.panel-body
              %div.row
                %div.form-group.col-xs-12
                  %label Current Password
                  %input.form-control.required.password{type: 'password', id: 'user_old_password', placeholder: 'Current Password'}

                %div.form-group.col-xs-12
                  %label New Password
                  %input.form-control.required.new_password{type: 'password', id: 'user_password', name: 'user[password]', placeholder: 'New Password'}
                %div.form-group.col-xs-12
                  %label Confirm Password
                  %input.form-control.required.user_password_confirmation{type: 'password', id: 'user_password_confirmation', name: 'user[password_confirmation]', placeholder: 'Confirm New Password'}

                %div.form-group.col-xs-12
                  %button.btn.btn-primary.pull-right{type: 'submit', style: 'margin-top:0px;'} Update
  %div#subscription.active.tab-pane
    %div.row
      %div.col-xs-12.col-lg-10.col-lg-offset-1
        - current_user.subscriptions.each do |s|
          = render :partial => 'subscriptions/show', locals: {subscription: s}
  %div#payments.tab-pane
    %div.row
      %div.col-xs-12.col-sm-6.col-sm-offset-0.col-md-5.col-md-offset-1
        
        %div.panel.panel-default
          %div.panel-heading
            %h3.panel-title Credit Cards
          %div.panel-body
            = render :partial => 'credit_cards/index'
        = form_for(CreditCard.new, :url => credit_cards_path, :html => { :method => :post, :id => 'credit-card-form', :role => 'form' }) do |f|
          %div.panel.panel-default
            %div.panel-heading
              %h3.panel-title Add A Card
            %div.panel-body
              = render :partial => 'credit_cards/form'
      %div.col-xs-12.col-sm-6.col-sm-offset-0.col-md-5
        
        %div.panel.panel-default
          %div.panel-heading
            %h3.panel-title Transactions
          %div.panel-body
            = render :partial => 'credit_card_transactions/index'
      


= content_for :javascript do
  :plain
    $("#user-form").validate();
    $("#password-form").validate({
      rules: {
        "user[password_confirmation]": {
          equalTo: "#user_password"
        }
      }
    });
