<!-- NAVIGATION -->
<nav class="fixed-top" id="navigation">
    <div class="container">
        <div class="row-fluid">
            <div class="span12 center">
                <!-- LOGO -->
                <a class="brand pull-left" href="./">
                    <img src="<%= asset_path 'logo.png'%>" alt="Treble">
                </a>
                <!-- END LOGO -->

                <!-- MOBILE MENU BUTTON -->
                <div class="mobile-menu" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
                <!-- END MOBILE MENU BUTTON -->
                
                <!-- MAIN MENU -->
                <ul id="main-menu" class="nav-collapse collapse">
                    <li><a href="#page-welcome">Home</a></li>
                    <li><a href="#page-work">How it Works</a></li>
                    <li><a href="#page-about">About Us</a></li>
                    <li><a href="#page-blog">Blog</a></li>
                    <li><a href="#page-contact">Contact</a></li>
                </ul>
                <!-- END MAIN MENU -->
                
                <!-- SOCIAL ICONS -->
                <div class="social-icons hover-big pull-right">
                    <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                    <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                    <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                    <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                    <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                </div>
                <!-- END SOCIAL ICONS -->
            </div>
        </div>
    </div>
</nav>
<!-- END NAVIGATION -->

<!-- PAGE | WELCOME -->
<div class="pages white paralax page-welcome" id="page-welcome">
    <div class="overlay"></div>
    <!-- Centralized content -->
    <div class="centralized">
        <div class="container">
            <div class="row-fluid">
                <div class="span12 center">
                    <!-- Animated logo -->
                    <div class="logo">
                        <div class="scrollNormal">
                            <a href="#page-work">
                                <img src="<%= asset_path 'treble/pages/welcome/logo_welcome.png'%>" width="140" height="140" alt="Treble">
                            </a>
                        </div>
                        <div class="scrollDown">
                            <a href="#page-work">
                                <img src="<%= asset_path 'treble/pages/welcome/logo2_welcome.png'%>" width="140" height="140" alt="Treble">
                            </a>
                        </div> 
                    </div>
                    
                    <div class="line-divider" id="welcome-messages">
                        <ul class="">
                            <li>
                                <h1>Season To</h1>
                            </li>
                            <li>
                                <h1>Expand Your Taste</h1>
                            </li>
                            <li>
                                <h1>As low as $16/month!</h1>
                            </li>
                        </ul>
                    </div>
                    <p>Gourmet salt and pepper curated by professional chefs <br/> delivered to your doorstep<br/>  as low as $16/month </p>
                    <div>
                        <a href='<%=new_user_registration_path%>' class='btn btn-primary'>Get Started Now</a>
                        <a href='' class='btn btn-primary'>Buy a Gift</a>
                    </div>
                    <div class="social-icons sicon-white bordered">
                        <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                        <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                        <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                        <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                        <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE | Welcome -->

<!-- PAGE | WORK -->
<div class="pages page-work" id="page-work">
    <div class="container">
        <!-- Header -->
        <header>
            <h4 class="line-divider"></h4>
            <h1>Our Mission</h1>
            <!-- Short desciption about Work in general -->
            <div class="row">
                <div class="span8 offset2">
                    <p>
                      Salt and pepper are perhaps the two most widely used foods in the world.  Our goal is to deliver a consistently delightful experience of gourmet salts and peppers
                      that introduces you not only to new variations of food we eat everyday but also to the places and the stories behind them.
                    </p>
                    <p>
                      Variety is, as they say, the spice of life.
                    </p>
                </div>
            </div>
                
            <!-- Sub menu -->
            <!-- 
            Params: 
                plugin-filter: Defines links for filtering.
            -->
            <!-- <nav class="submenu">
                            <ul>
                                <li>
                                    <a href="#" class="plugin-filter active" data-filter="all">All</a>
                                </li>
                                <li>
                                    <a href="#" class="plugin-filter" data-filter="typography">Typography</a>
                                </li>
                                <li>
                                    <a href="#" class="plugin-filter" data-filter="illustration">Illustration</a>
                                </li>
                                <li>
                                    <a href="#" class="plugin-filter" data-filter="branding">Branding</a>
                                </li>
                                <li>
                                    <a href="#" class="plugin-filter" data-filter="photography">Photography</a>
                                </li>
                            </ul>
                        </nav> -->
        </header>
        <!-- End Header -->
            
        <!-- Article -->
        <% if false %>
        <article>
            <!-- Portfolio items
                Params: 
                    plugin-filter-elements: Defines items for filtering, each item has class which defines filter value.
                    portfolio-items: Customise portfolio items for hover effect.
            -->
           
            
            <ul class="thumbnails plugin-filter-elements portfolio-items">
                <li class="span4 mix illustration branding">
                    <a href="#pages/portfolio/project_1.html" data-destination="portfolio-items" data-insert="before">
                        <!-- Portfolio image -->
                        <img src="http://placehold.it/390x300" alt="Treble">
                        
                        <!-- Portfolio name, activated on hover -->
                        <div class="portfolio-overlay">
                            <h4>Vita Worldwide</h4>
                        </div>
                    </a>
                </li>
                <li class="span4 mix branding typography illustration">
                    <a href="#pages/portfolio/project_2.html" data-destination="portfolio-items" data-insert="before">
                        <img src="http://placehold.it/390x300" alt="Treble">
                        <div class="portfolio-overlay">
                            <h4>Kokong Magazine</h4>
                        </div>
                    </a>
                </li>
                <li class="span4 mix photography illustration">
                    <a href="#pages/portfolio/project_3.html" data-destination="portfolio-items" data-insert="before">
                        <img src="http://placehold.it/390x300" alt="Treble">
                        <div class="portfolio-overlay">
                            <h4>Escape The Grid 2</h4>
                        </div>
                    </a>
                </li>
                <li class="span4 mix photography">
                    <a href="#pages/portfolio/project_4.html" data-destination="portfolio-items" data-insert="before">
                        <img src="http://placehold.it/390x300" alt="Treble">
                        <div class="portfolio-overlay">
                            <h4>Avatar</h4>
                        </div>
                    </a>
                </li>
                <li class="span4 mix photography typography branding">
                    <a href="#pages/portfolio/project_5.html" data-destination="portfolio-items" data-insert="before">
                        <img src="http://placehold.it/390x300" alt="Treble">
                        <div class="portfolio-overlay">
                            <h4>A Brighter Horizon</h4>
                        </div>
                    </a>
                </li>
                <li class="span4 mix photography">
                    <a href="#pages/portfolio/project_6.html" data-destination="portfolio-items" data-insert="before">
                        <img src="http://placehold.it/390x300" alt="Treble">
                        <div class="portfolio-overlay">
                            <h4>The Travelers</h4>
                        </div>
                    </a>
                </li>
                <li class="span4 mix illustration branding typography">
                    <a href="#pages/portfolio/project_7.html" data-destination="portfolio-items" data-insert="before">
                        <img src="http://placehold.it/390x300" alt="Treble">
                        <div class="portfolio-overlay">
                            <h4>Tron 3</h4>
                        </div>
                    </a>
                </li>
                <li class="span4 mix photography illustration">
                    <a href="#pages/portfolio/project_8.html" data-destination="portfolio-items" data-insert="before">
                        <img src="http://placehold.it/390x300" alt="Treble">
                        <div class="portfolio-overlay">
                            <h4>Vimeo Staff Picke - Rio</h4>
                        </div>
                    </a>
                </li>
                <li class="span4 mix illustration branding">
                    <a href="#pages/portfolio/project_9.html" data-destination="portfolio-items" data-insert="before">
                        <img src="http://placehold.it/390x300" alt="Treble">
                        <div class="portfolio-overlay">
                            <h4>Adobe Family. 1882</h4>
                        </div>
                    </a>
                </li>
            </ul>
        </article>
        <% end %>
        <!-- End Article -->
        
        <!-- Footer -->
        <!-- <footer>
                    <div class="show-more-cube">
                         <a href="#pages/portfolio/readmore.html" data-destination="plugin-filter-elements" data-insert="appendTo" data-action="remove">
                            <span>Show<br/>More</span>
                        </a>
                    </div>
                </footer> -->
        <!-- End footer -->
    </div>
</div>
<!-- END PAGE | WORK -->

<!-- PAGE | CLIENTS -->
<div class="pages page-clients" id="page-clients">
    <div class="container">
        <h4 class="line-divider-inline center">How it Works</h4>
        
        <!-- Client logos -->
        <div class="row-fluid">
            <div class="span2 center">
                <img src="http://placehold.it/180x70" alt="Treble">
            </div>
            <div class="span2 center">
                <img src="http://placehold.it/180x70" alt="Treble">
            </div>
            <div class="span2 center">
                <img src="http://placehold.it/180x70" alt="Treble">
            </div>
            <div class="span2 center">
                <img src="http://placehold.it/180x70" alt="Treble">
            </div>
            <div class="span2 center">
                <img src="http://placehold.it/180x70" alt="Treble">
            </div>
            <div class="span2 center">
                <img src="http://placehold.it/180x70" alt="Treble">
            </div>
        </div>
        <!-- Short text related to client's -->
        <div class="row-fluid">
            <div class="span8 offset2 center smallFontBy08">
                <p><strong>Season To</strong> is a monthly subscription service. Each month you will receive one gourmet salt and one gourmet pepper handpicked by our professional chefs to introduce you to new tastes and to new parts of the world.</p>
                <p>Included in the delivery each month will be information describing the origin, characteristics, and suggested uses for each salt and pepper.</p>
                <!-- <p>We hope to tell you the stories of these spices and to broaden your experience of food that we eat everyday. And it's easy to get started ...</p> -->
                
            </div>
        </div>
    </div>
</div>
<!-- END PAGE | CLIENTS -->

<!-- PAGE | FEATURES  -->
<div class="pages white paralax page-features" id="page-features">
    <div class="overlay"></div>
    <div class="container">
         <!-- Header -->
        <header>
            <h4 class="line-divider">Features</h4>                
            <h1>What's Inside</h1>
            <div class="row">
                <div class="span8 offset2">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    </p>
                </div>
            </div>
        </header>
         <!-- End Header -->
         
         <!-- Article -->
        <article>
            <!-- Features blocks -->
            <div class="row-fluid">
                <div class="span4 center">
                    <img src="<%= asset_path 'treble/pages/features/about01.png'%>" alt="Treble">
                    <h5>Responsive</h5>
                    <p class="smallFontBy08 cutBy10">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="span4 center">
                    <img src="<%= asset_path 'treble/pages/features/about02.png'%>" alt="Treble">
                    <h5>Bootstrap based</h5>
                    <p class="smallFontBy08 cutBy10">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="span4 center">
                    <img src="<%= asset_path 'treble/pages/features/about03.png'%>" alt="Treble">
                    <h5>Easy to customize</h5>
                    <p class="smallFontBy08 cutBy10">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <!-- Testemonials -->
            <div class="row-fluid">
                <div class="span8 offset2">
                    <div class="quote center">
                        <div id="quote-slider" class="slide">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="active item">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    <h5>Happy client</h5>
                                </div>
                                <div class="item">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    <h5>Happy client</h5>
                                </div>
                                <div class="item">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    <h5>Happy client</h5>
                                </div>
                            </div>
                            <!-- Carousel indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#quote-slider" data-slide-to="0" class="active"></li>
                                <li data-target="#quote-slider" data-slide-to="1"></li>
                                <li data-target="#quote-slider" data-slide-to="2"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- End Article -->
    </div>
</div>
<!-- END PAGE | FEATURES -->

<!-- PAGE | ABOUT -->
<div class="pages page-about" id="page-about">
    <div class="container">
        <!-- Header -->
        <header>
            <h4 class="line-divider">About</h4>
            <h1>Meet The Team</h1>
            <div class="row">
                <div class="span8 offset2">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </header>
        <!-- End Header -->
        
        <!-- Article -->
        <article>
            <!-- List of people and description with their contact details which are visable on hover -->
            <ul class="thumbnails about-items">
                <li class="span4 center">
                     <div class="item">
                        <!-- Team member image -->
                        <img class="img-circle" src="http://placehold.it/280x280" alt="Treble">
                        
                        <!-- Team memeber details, activated on hover -->
                        <div class="about-overlay img-circle">
                            <div class="social-icons sicon-white">
                                <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                                <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                                <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                                <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                                <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Team member name and function -->
                    <h5>
                        Joanna doe<br/>
                        <small>Creative director</small>
                    </h5>
                    
                    <!-- Team member short info -->
                    <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p>
                </li>
                <li class="span4 center">
                    <div class="item">
                        <img class="img-circle" src="http://placehold.it/280x280" alt="Treble">
                        <div class="about-overlay img-circle">
                            <div class="social-icons sicon-white">
                                <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                                <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                                <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                                <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                                <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                            </div>
                        </div>
                    </div>
                    
                    <h5>
                        Joanna doe<br/>
                        <small>Creative director</small>
                    </h5>
                    <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p>
                </li>
                <li class="span4 center">
                    <div class="item">
                        <img class="img-circle" src="http://placehold.it/280x280" alt="Treble">
                        <div class="about-overlay img-circle">
                            <div class="social-icons sicon-white">
                                <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                                <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                                <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                                <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                                <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                            </div>
                        </div>
                    </div>
                    
                    <h5>
                        Joanna doe<br/>
                        <small>Creative director</small>
                    </h5>
                    <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p>
                </li>
                <li class="span4 center">
                    <div class="item">
                        <img class="img-circle" src="http://placehold.it/280x280" alt="Treble">
                        <div class="about-overlay img-circle">
                            <div class="social-icons sicon-white">
                                <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                                <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                                <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                                <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                                <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                            </div>
                        </div>
                    </div>
                    
                    <h5>
                        Joanna doe<br/>
                        <small>Creative director</small>
                    </h5>
                    <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p>
                </li>
                <li class="span4 center">
                     <div class="item">
                        <img class="img-circle" src="http://placehold.it/280x280" alt="Treble">
                        <div class="about-overlay img-circle">
                            <div class="social-icons sicon-white">
                                <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                                <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                                <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                                <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                                <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                            </div>
                        </div>
                    </div>
                    
                    <h5>
                        Joanna doe<br/>
                        <small>Creative director</small>
                    </h5>
                    <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p>
                </li>
                <li class="span4 center">
                     <div class="item">
                        <img class="img-circle" src="http://placehold.it/280x280" alt="Treble">
                        <div class="about-overlay img-circle">
                            <div class="social-icons sicon-white">
                                <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                                <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                                <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                                <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                                <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                            </div>
                        </div>
                    </div>
                    
                    <h5>
                        Joanna doe<br/>
                        <small>Creative director</small>
                    </h5>
                    <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p>
                </li>
            </ul>
        </article>
        <!-- End Article -->
    </div>
</div>
<!-- END PAGE | ABOUT -->

<!-- PAGE | TWITTER -->
<div class="pages white paralax page-twitter" id="page-twitter">
    <!-- Page overlay -->
    <div class="overlay"></div>
    
    <!-- Block content -->
    <div class="container">
         <div class="row-fluid">
            <div class="span8 offset2">
                <div class="twitter-devider"></div>
                <!-- Load Twitter boostrap container -->
                <div class="twitterfeed center slide" id="twitterfeed-slider"></div>
                
                <!-- Sub title / Name of twitter account -->
                <h5 class="center">@TheGridelicous</h5>
            </div>
        </div>
    </div>
    
</div>
<!-- END PAGE | TWITTER -->

<!-- PAGE | BLOG -->
<div class="pages page-blog" id="page-blog">
    <div class="container">
        <!-- Header -->
        <header>
            <h4 class="line-divider">Blog</h4>
            <h1>Recent Blog Posts</h1>
            <div class="row">
                <div class="span8 offset2">
                    <div class="input-append">
                      <input class="span5" id="appendedInputButton" type="text" placeholder="Search Blog">
                      <button class="btn btn-primary sicon-search sicon-white" type="button"><i>Search</i></button>
                    </div>
                </div>
            </div>
            
            <!-- Sub menu -->
            <nav class="submenu">
                <ul>
                    <li>
                        <a href="./pages/blog/blog.html">All</a>
                    </li>
                    <li>
                        <a href="./pages/blog/blog.html">Technology</a>
                    </li>
                    <li>
                        <a href="./pages/blog/blog.html">Design</a>
                    </li>
                    <li>
                        <a href="./pages/blog/blog.html">Future trends</a>
                    </li>
                    <li>
                        <a href="./pages/blog/blog.html">Photography</a>
                    </li>
                    <li>
                        <a href="./pages/blog/blog.html">Other</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- End Header -->
        
        <!-- Article -->
        <article>
            <!-- Blog articles -->
            <ul class="thumbnails">
                <!-- Blog post -->
                <li class="span4">
                
                    <!-- Blog image -->
                    <a href="./pages/blog/blog_1.html">
                        <img src="http://placehold.it/390x300" alt="Treble">
                    </a>
                    
                    <!-- Blog title -->
                    <h5>
                        Blog Post Title<br/>
                        <small>April 10, 2013</small>
                    </h5>
                    
                    <!-- Blog post description -->
                    <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p>
                    
                    <!-- Blog read more -->
                    <div class="read-more">
                        <a href="./pages/blog/blog_1.html">Read More...</a>
                    </div>
                </li>
                <li class="span4">
                    <a href="./pages/blog/blog_2.html">
                        <img src="http://placehold.it/390x300" alt="Treble">
                    </a>
                    <h5>
                        Blog Post Title<br/>
                        <small>April 10, 2013</small>
                    </h5>
                    <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p>
                    <div class="read-more">
                        <a href="./pages/blog/blog_2.html">Read More...</a>
                    </div>
                </li>
                <li class="span4">
                    <a href="./pages/blog/blog_3.html">
                        <img src="http://placehold.it/390x300" alt="Treble">
                    </a>
                    <h5>
                        Blog Post Title<br/>
                        <small>April 10, 2013</small>
                    </h5>
                    <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p>
                    <div class="read-more">
                        <a href="./pages/blog/blog_3.html">Read More...</a>
                    </div>
                </li>
                <li class="span4">
                    <a href="./pages/blog/blog_4.html">
                        <img src="http://placehold.it/390x300" alt="Treble">
                    </a>
                    <h5>
                        Blog Post Title<br/>
                        <small>April 10, 2013</small>
                    </h5>
                    <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p>
                    <div class="read-more">
                        <a href="./pages/blog/blog_4.html">Read More...</a>
                    </div>
                </li>
                <li class="span4">
                    <a href="./pages/blog/blog_5.html">
                        <img src="http://placehold.it/390x300" alt="Treble">
                    </a>
                    <h5>
                        Blog Post Title<br/>
                        <small>April 10, 2013</small>
                    </h5>
                    <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p>
                    <div class="read-more">
                        <a href="./pages/blog/blog_5.html">Read More...</a>
                    </div>
                </li>
                <li class="span4">
                    <a href="./pages/blog/blog_6.html">
                        <img src="http://placehold.it/390x300" alt="Treble">
                    </a>
                    <h5>
                        Blog Post Title<br/>
                        <small>April 10, 2013</small>
                    </h5>
                    <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p>
                    <div class="read-more">
                        <a href="./pages/blog/blog_6.html">Read More...</a>
                    </div>
                </li>
            </ul>
        </article>
        <!-- End Article -->

        <!-- Footer -->
        <footer>
            <!-- More blog posts -->
            <div class="show-more-cube">
                <a href="./pages/blog/blog.html"><span>All Blog<br/>Posts</span></a>
            </div>
        </footer>
        <!-- End Footer -->
    </div>
</div>
<!-- END PAGE | BLOG -->

<!-- PAGE | CONTACT -->
<div class="pages black-bg white page-contact" id="page-contact">
    <div class="container">
        <!-- Header -->
        <header>
            <h4 class="line-divider">Contact</h4>
            <h1>Say hello!</h1>
            <div class="row">
                <div class="span8 offset2">
                    <p>
                        We like to create things with fun, open-minded people. Feel free to say hello! We'll respond as soon as possible.
                    </p>
                </div>
            </div>
        </header>
        <!-- End Header -->
        
        <!-- Start Article -->
        <article>
            <div class="row-fluid">
                <!-- Contact form -->
                <div class="span6">
                    <h5>Drop Us A Line</h5>
                    <form>
                        <input type="text" class="span12" placeholder="Title" required="required">
                        <input type="email" class="span12" placeholder="Email" required="required">
                        <textarea rows="10" class="span12" required="required"></textarea>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <!-- End Contact form -->
                <!-- Contact information -->
                <div class="span5 offset1">
                    <h5>Meet Us</h5>
                    <div class="media">
                        <div class="social-icons sicon-white pull-left">
                            <a href="#" class="sicon-phone"><i>Phone</i></a>
                        </div> 
                        <div class="media-body smallFontBy08">
                            (+1) 502 964-0393 | (+1) 502 964-0393 (FAX)
                        </div>
                    </div>
                    <div class="media">
                        <div class="social-icons sicon-white pull-left">
                            <a href="#" class="sicon-place"><i>Location</i></a>
                        </div> 
                        <div class="media-body smallFontBy08">
                            1095 Columbus Ave., San Francisco, CA 94133
                        </div>
                    </div>
                    <div class="media">
                        <div class="social-icons sicon-white pull-left">
                            <a href="#" class="sicon-mail"><i>email</i></a>
                        </div> 
                        <div class="media-body smallFontBy08">
                            mail@crollify.com
                        </div>
                    </div>
                    <div class="media">
                        <div class="social-icons sicon-white pull-left">
                            <a href="#" class="sicon-clock"><i>Time zone</i></a>
                        </div> 
                        <div class="media-body smallFontBy08">
                            UTC / GMT -5
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <h5>Get social</h5>
                    <div class="social-icons sicon-white bordered">
                        <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                        <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                        <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                        <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                        <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                    </div>
                </div>
                <!-- End Contact information -->
            </div>
        </article>
        <!-- End Article -->
        
    </div>
    
    <!-- Background map image -->
    <div id="map-image">
        <img src="<%= asset_path 'treble/pages/contact/map_bck.jpg'%>" alt="Treble">
    </div>
</div>
<!-- END PAGE | CONTACT -->

<% content_for :javascript do %>
      /**
      *   Global variables.
      */
      var pageHeight = $(window).height();
      var pageWidth = $(window).width();
      var navigationHeight = $("#navigation").outerHeight();

      /**
      *   ON RESIZE, check again
      */
      $(window).resize(function () {
          pageWidth = $(window).width();
          pageHeight = $(window).height();
      });


      /**
      *   ON LOAD
      */

      /* Initialize scroll so if user droped to other part of page then home page. */
      $(window).trigger('scroll');

      /* Fix navigation. */
      $('#navigation').fixedonlater({
          speedDown: 250,
          speedUp: 100
      });

      /* Centralize elements on page. */
      $('.centralized').centralized({
          delay: 1500,
          fadeSpeed: 500
      });

      /* Make embeded videos responsive. */
      $.fn.responsivevideos();

      /* Carousel "Quote slider" initialization. */
      $('#quote-slider').each(function(){
          if($('.item', this).length) {
              $(this).carousel({
                  interval: 20000
              });
          }
      });

      /* Scroll spy and scroll filter */
      $('#main-menu').onePageNav({
          currentClass: "active",
          changeHash: false,
          scrollOffset: navigationHeight - 10,
          scrollThreshold: 0.5,
          scrollSpeed: 750,
          filter: "",
          easing: "swing"
       });

      /* 
      *  Paralax initialization.
      *  Exclude for mobile.
      */
      if(pageWidth > 980){
          /* Dont user paralax for tablet and mobile devices. */
          $('#page-welcome').parallax("0%", 0.2);
          $('#page-features').parallax("0%", 0.07);
          $('#page-twitter').parallax("0%", 0.1);
      }

      /* Emulate touch on table/mobile touchstart. */
      if(typeof(window.ontouchstart) != 'undefined') {
          var touchElements = [".social-icons a", ".portfolio-items li", ".about-items .item"];

          $.each(touchElements, function (i, val) {
              $(val).each(function(i, obj) {
                  $(obj).bind('click', function(e){

                      if($(this).hasClass('clickInNext')){
                          $(this).removeClass('clickInNext');
                      } else {
                          e.preventDefault();
                          e.stopPropagation();

                          $(this).mouseover();
                          $(this).addClass('clickInNext');
                      }
                  });
              });
          });
      }

      /**
      *   BLOCK | Navigation
      *
      *   Smooth scroll
      *   Main menu links
      *   Logo click on Welcome page
      */
      $('#page-welcome .logo a').click(function(){
          $('html, body').animate({
              scrollTop: $( $.attr(this, 'href') ).offset().top - navigationHeight + 4
          }, 800);

          /* Fix jumping of navigation. */
          setTimeout(function() {
              $(window).trigger('scroll');
          }, 900);

          return false;
      });

      /**
      *   PAGE | Welcome 
      *
      *   Initialize slider for welcome page H1 message.
      */
     $('#welcome-messages ul').bxSlider({
          mode: 'vertical',
          auto: true,
          minSlides: 1,
          responsive: true,
          touchEnabled: true,
          pager: false,
          controls: false,
          useCSS: false,
          pause: 10000
      });

      /**
      *   PAGE | WORK
      *
      *   .plugin-filter - Defines action links.
      *   .plugin-filter-elements - Defines items with li.
      */
      $('.plugin-filter').click(function(){
          return false;
      });
      $('.plugin-filter-elements').mixitup({
          targetSelector: '.mix',
          filterSelector: '.plugin-filter',
          sortSelector: '.sort',
          buttonEvent: 'click',
          effects: ['fade','rotateY'],
          listEffects: null,
          easing: 'smooth',
          layoutMode: 'grid',
          targetDisplayGrid: 'inline-block',
          targetDisplayList: 'block',
          gridClass: '',
          listClass: '',
          transitionSpeed: 600,
          showOnLoad: 'all',
          sortOnLoad: false,
          multiFilter: false,
          filterLogic: 'or',
          resizeContainer: true,
          minHeight: 0,
          failClass: 'fail',
          perspectiveDistance: '3000',
          perspectiveOrigin: '50% 50%',
          animateGridList: true,
          onMixLoad: null,
          onMixStart: null,
          onMixEnd: null
      });

      /**
      *   PAGE | Twitter 
      *
      *   Pull latest tweets from user.
      *   Configuration: /plugins/twitter/index.php
      */
    if (false) {
        $('#twitterfeed-slider').tweet({
          modpath: 'plugins/twitter/',
          username: 'TheGridelicious',
          count: 3
        });

        $('#twitterfeed-slider').tweetCarousel({
          interval: 7000,
          pause: "hover"
        });
    }
  });


  /**
  *   Ajax request.
  *   Start loading.
  *   Append loading notification.
  */
  $( document ).ajaxSend( function() {
      /* Show loader. */
      if($(".loading").length == 0) {
          $("body").append('<div class="loading"><div class="progress progress-striped active"><div class="bar"></div></div></div>');
          $(".loading").slideDown();
          $(".loading .progress .bar").delay(300).css("width", "100%");
      }
  });

  /**
  *   Reinitialize Scrollspy after ajax request is completed.
  *   Refreshing will recalculate positions of each page in document.
  *   Time delay is added to allow ajax loaded content to expand and change height of page.
  */
  $( document ).ajaxComplete(function() {
      /* Remove loading section. */
      $(".loading").delay(1000).slideUp(500, function(){
          $(this).remove();
      });

      /* Portfolio details - close. */
      $(".close-portfolio span").click(function(e) {
          $(".portfolio-item-details").delay(500).slideUp(500, function(){
              $(this).remove();
          });

          window.location.hash= "!";
          return false;
      });

<% end %>