
    
  <div class="inner cover">
    <h1 class="cover-heading">
      Season To
    </h1>
    <p class="lead">
      Taste a handpicked selection of gourmet salt and pepper delivered to your doorstep every month.  Includes information about the origin, characteristics, and suggested uses for each product.  Experience salt and pepper like never before!    
    </p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-default" data-toggle="modal" data-target="#howItWorks">How it Works</a>
      <%= link_to 'Get Started', new_user_registration_path, class: 'btn btn-lg btn-default' %>
      <a href="#" class="btn btn-lg btn-default">Buy a Gift</a>
    </p>
  </div>
  <div class="mastfoot">
    <div class="inner">
      <p>
        <%= link_to 'terms of service', '#' %>
        | <%= link_to 'privacy policy', '#' %>
        | <%= link_to 'contact', '#' %>
      </p>
    </div>
  </div>

  <div class="modal fade" id="howItWorks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="text-align:left;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Season To ... How it Works</h4>
        </div>
        <div class="modal-body">
          <p><strong>Season To</strong> is a subscription service for gourmet salts and peppers.  Each month you will receive one gourmet salt and one gourmet pepper curated by our professional chefs.</p>
          <p>Included in the kit each month will be information cards describing the origin, characteristics, and suggested uses for each salt and pepper.  We hope to tell you the stories of these spices and to broaden your experience of food that we eat everyday.  And it's easy to get started ...</p>
          <h1>1. Select a Plan</h1>
          <p>Select a billing plan that works best for you.  You can choose from one of the following and cancel at anytime:
            <ul style="margin-left:50px;">
              <li>monthly - $15/month</li>
              <li>quarterly - $40/3 months (save 10%)</li>
              <li>semi-annually - $70/6 months (save 20%)</li>
              <li>yearly - $120/12 months (save 30%)</li>
            </ul>
          </p>
          <h1>2. Purchase a Subscription</h1>
          <p>After you choose a plan, we will ask you to enter your billing and shipping information so that we can process your order and start your subscription immediately.</p>
          <p>Once your payment has been successfully processed, your first shipment will be scheduled for the first business day following the placement of your order.  Typically, you will receive your first shipment within 5-7 days of signing up.</p>
          <p>The day on which you sign up will be the one each month on which we send your shipments as well as renew your subscription when applicable.</p>
          <h1>3. Shipment Notification</h1>
          <p>Every month we will send you a notification when your items have shipped so that you know when to expect them.</p>
          <h1>4. Enjoy!</h1>
          <p>As they say, variety is the 'spice' of life.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= link_to 'Sign Up Now!', new_user_registration_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>


<% if false %>


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag asset_path('salt4.jpg'), alt: 'First slide' %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Season To</h1>
          <p>A monthly subscription service for gourmet salt and pepper.</p>
          <p><a class="btn btn-large btn-primary" href="#">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag asset_path('salt-6.jpg'), alt: 'Second slide' %>
      <div class="container">
        <div class="carousel-caption">
          <h1>How It Works</h1>
          <p>Every month we will send you one gourmet salt and one gourmet pepper with an accompanying information card detailing the geography, history, characteristics, and suggested use of each .</p>
          <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag asset_path('salt.jpg'), alt: 'Second slide' %>
      <div class="container">
        <div class="carousel-caption">
          <h1>One more for good measure.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/png;base64," data-src="/assets/holder.js/140x140" alt="Generic placeholder image">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/png;base64," data-src="/assets/holder.js/140x140" alt="Generic placeholder image">
      <h2>Heading</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
      <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/png;base64," data-src="/assets/holder.js/140x140" alt="Generic placeholder image">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="/assets/holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="/assets/holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="/assets/holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->
</div>

<% end %>