%div.row
  %div.col-xs-12{style: 'border-bottom:1px dotted #eee;margin-bottom:20px;'}
    %h1 
      #{subscription.plan.name} Plan 
      %button.btn.btn-success{type: 'button'}  #{subscription.status}
      %button.btn.btn-info{type: 'button'}  Upgrade
      
    

%div.row
  %div.col-xs-6
    %div.col-xs-12
      %div.panel.panel-warning
        %div.panel-heading
          %h3.panel-title Created On
        %div.panel-body
          #{subscription.first_billing_date.strftime('%B %-d, %Y')}
    %div.col-xs-12
      %div.panel.panel-warning
        %div.panel-heading
          %h3.panel-title Shipping To
        %div.panel-body
          %address
            %strong #{subscription.shipments.last.address.first_name} #{subscription.shipments.last.address.last_name}<br/>
            #{subscription.shipments.last.address.address1} #{subscription.shipments.last.address.address2}<br/>
            #{subscription.shipments.last.address.city}, #{subscription.shipments.last.address.state} #{subscription.shipments.last.address.zip}
  %div.col-xs-6
    %div.panel.panel-warning
      %div.panel-heading
        %h3.panel-title Billing Info
      %div.panel-body
        %strong Billing Day of Month<br/>
        #{subscription.billing_day_of_month.ordinalize}<br/>


        %strong Next Billing Date<br/>
        #{subscription.next_billing_date.strftime('%B %-d, %Y')}<br/>

        %strong Next Billing Amount<br/>
        $#{subscription.next_billing_period_amount}<br/>

        %strong Credit Card<br/>
        #{subscription.credit_card.to_s}<br/>


    
    
    
  
%div.row  
  %div.col-xs-6
    - subscription.shipments.each do |shipment|
      = render partial: 'shipments/show', locals: {shipment: shipment}

  %div.col-xs-6
    - subscription.shipments.each do |shipment|
      %div{style: 'padding:10px;'}
        %h5 TBD
        #{image_tag 'http://i.c-b.co/is/image/Crate/BiscayneSaltPepperMills/$web_zoom$%26/1308302307/biscayne-salt-and-pepper-mills.jpg', class: 'img-thumbnail'}
        %p Scheduled for #{shipment.scheduled_at.advance(months: 1).strftime('%B %-d, %Y')}
        
        
%div.row
  %div.col-xs-7
  %div.col-xs-2
    
  %div.col-xs-3
    %button.btn.btn-danger{type: 'button'}  Cancel Subscription