
%div.panel{class: (subscription.active? ? 'panel-success' : 'panel-warning') }
  %div.panel-heading
    %h1.panel-title
      %div.row
        %div.col-xs-8
          - if subscription.state == 'active'
            %button.btn.btn-xs.btn-success{type: 'button'}  Active
          - else 
            %button.btn.btn-xs.btn-warning{type: 'button'}  Canceled
          #{subscription.plan.name} Plan
        %div.col-xs-4.text-right
          %button.btn.btn-xs.btn-primary{type: 'button'} #{subscription.shipments.count} Deliveries Remaining
  %div.panel-body
    %div.row
      %div.col-xs-12{}
        
    %div.row
      %div.col-xs-12.col-sm-6

        %div.panel.panel-default
          %div.panel-heading
            %h3.panel-title Last Shipment
          %div.panel-body
            = render partial: 'shipments/show', locals: {shipment: subscription.shipments.first}
        %div.panel.panel-default
          %div.panel-heading
            %h3.panel-title Past Shipments
          %div.panel-body
            %table.table.table-hover
              %thead
                %tr
                  %th Image
                  %th Name
                  %th Shipped On
              %tbody
                %tr
                  %td
                    %img{src: 'http://www.techvert.com/wp-content/uploads/2010/09/16/salt-and-pepper-robots/saltandpepperrobots.jpg', width: '75px'}
                  %td Robots
                  %td January 14, 2014
                %tr
                  %td
                    %img{src: 'http://www.photo-dictionary.com/photofiles/list/1589/2124salt_and_pepper.jpg', width: '75px'}
                  %td Table Salt
                  %td December 14, 2013
                %tr
                  %td
                    %img{src: 'http://static.planetminecraft.com/files/resource_media/screenshot/1151/salt%20and%20pepper_1064747.jpg', width: '75px'}
                  %td Naughty & Nice
                  %td November 14, 2013
      %div.col-xs-12.col-sm-6
        %div.panel.panel-default
          %div.panel-heading
            %h3.panel-title Next Delivery On
          %div.panel-body
            %strong #{subscription.shipments.first.scheduled_at.advance(months: 1).strftime('%B %-d, %Y')}
        
        %div.panel.panel-default
          %div.panel-heading
            %div.row
              %div.col-xs-9
                %h3.panel-title Shipping To
              %div.row.col-xs-3.text-right
                %button.btn.btn-xs.btn-warning#change-address change
          = form_for subscription, html: {role: 'form', id: "update-address"} do |f|
            %input{type: 'hidden', name: 'subscription[address_attributes][addressable_type]', value: 'User'}
            %input{type: 'hidden', name: 'subscription[address_attributes][addressable_id]', value: current_user.id }
            %div.panel-body
              %div.row
                %div.form-group.col-xs-12#ship-to
                  %strong #{subscription.address.first_name} #{subscription.address.last_name}<br/>
                  #{subscription.address.address1} #{subscription.address.address2}<br/>
                  #{subscription.address.city}, #{subscription.address.state} #{subscription.address.zip}
              
              %div.update-address{style: 'display:none;'}
                %div.row
                  %div.form-group.col-xs-12
                    %table.table.table-hover
                      %thead
                        %tr
                          %th{colspan: 2} Select an address ...
                      %tbody
                        - current_user.addresses.reverse.each do |address|
                          %tr
                            %td
                              %input.shipping-address{type: 'radio', name: 'subscription[address_id]', subscription_id: subscription.id, address_id: address.id, checked: (address.id == subscription.address.id)}
                            %td
                              #{address.to_s}
                %div.row
                  %div.form-group.col-xs-12
                    %table.table.table-hover
                      %thead
                        %tr
                          %th ... or add a new one
                      %tbody
                        %tr
                          %td
                            %div.row
                              %div.form-group.col-xs-12.col-md-6
                                %input.form-control.required.first_name{type: 'text', name: 'subscription[address_attributes][first_name]', id: 'address_first_name', placeholder: 'First Name', autofocus: true}
                              %div.form-group.col-xs-12.col-md-6
                                %input.form-control.last_name{type: 'text', name: 'subscription[address_attributes][last_name]', id: 'address_last_name', placeholder: 'Last Name'}
                              %div.form-group.col-xs-12.col-md-6
                                %input.form-control.required.address1{type: 'text', name: 'subscription[address_attributes][address1]', id: 'address_address1', placeholder: 'Address'}
                              %div.form-group.col-xs-12.col-md-6
                                %input.form-control.address2{type: 'text', name: 'subscription[address_attributes][address2]', id: 'address_address2', placeholder: 'Address (cont.)'}
                              
                              %div.form-group.col-xs-8.col-md-6
                                %input.form-control.required.city{type: 'text', name: 'subscription[address_attributes][city]', id: 'address_city', placeholder: 'City'}
                              %div.form-group.col-xs-4.col-md-2
                                %input.form-control.required.state{type: 'text', name: 'subscription[address_attributes][state]', id: 'address_state', placeholder: 'State'}
                              %div.form-group.col-xs-12.col-md-4
                                %input.form-control.required.zip{type: 'text', name: 'subscription[address_attributes][zip]', id: 'address_zip', placeholder: 'Zip Code'}
                            %div.row
                              %div.form-group.col-xs-12.text-right
                                %button.btn.btn-xs.btn-primary Add Address

        / %div.col-xs-12.col-sm-6
        / %div.panel.panel-default
        /   %div.panel-heading
        /     %h3.panel-title Last Delivery On
        /   %div.panel-body
        /     %strong #{subscription.shipments.first.scheduled_at.advance(months: 11).strftime('%B %-d, %Y')}

        - if subscription.active?
          %div.panel.panel-default
            %div.panel-heading
              %div.row
                %div.col-xs-9
                  %h3.panel-title Subscription Renewal
                %div.row.col-xs-3.text-right
                  %button.btn.btn-xs.btn-warning#change-payment change
            %div.panel-body
              %div.row
                %div.col-xs-12
                  $#{money_without_cents subscription.next_billing_period_amount} will be charged to your
                  %span#payment-info #{subscription.credit_card.to_s} 
                  on #{subscription.next_billing_date.strftime('%B %-d, %Y')}
                
                %div.update-payment{style: 'display:none;'}
                  %div.row
                    %div.col-xs-12
                      %div.control-group
                        %div.credit-cards-alerts
                        %table.table.table-hover#credit-cards-table
                          %thead
                            %tr
                              %th{colspan: 5} Select a card ...
                          %tbody
                            - current_user.credit_cards.order('id desc').each do |credit_card|
                              %tr{:id => "credit_card_#{credit_card.id}", :style => 'cursor:pointer;'}
                                %td
                                  %div.control-group
                                    %div.controls.text-center
                                      - h = {:type => "radio", :class=> 'subscription-credit-card', :name => "subscription_credit_card", :id => credit_card.id, :value => credit_card.id}
                                      - h[:checked] = true if credit_card.is_default
                                      %input{ h }
                                %td
                                  = credit_card.card_type
                                %td
                                  = "x-#{credit_card.last4}"
                                %td
                                  = "#{credit_card.expiration_month}/#{credit_card.expiration_year}"
                                %td
                                  = link_to 'x', credit_card_path(credit_card), :method => :delete, :confirm => 'Are you sure?', :remote => true, :class => 'icon-remove'
                  %div.row
                    %div.form-group.col-xs-12
                      %table.table.table-hover
                        %thead
                          %tr
                            %th ... or add a new one
                        %tbody
                          %tr
                            %td
                              = form_for(CreditCard.new, :url => credit_cards_path, :html => { :method => :post, :id => 'credit-card-form', :role => 'form' }) do |f|
                                = render :partial => 'credit_cards/form'
        
        %div.panel.panel-default
          %div.panel-heading
            %h3.panel-title Payment History
          %div.panel-body
            = render :partial => 'credit_card_transactions/index', locals: {subscription: subscription}

    - if subscription.active?
      %div.row
        %div.col-xs-12.text-right
          %button.btn.btn-xs.btn-danger{type: 'button', 'data-toggle' => 'modal', 'data-target' => '#cancel-modal'}  Cancel Subscription

%div.modal.fade#cancel-modal{role: 'dialog'}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{type: 'button', 'data-dismiss' => 'modal'} &times;
        %h4.modal-title Are you sure?
      %div.modal-body
        OMG, no!!!!!
      %div.modal-footer
        %button.btn.btn-default{type: 'button', 'data-dismiss' => 'modal'} Close
        = link_to 'Confirm', cancel_subscription_path(subscription), method: :put, class: 'btn btn-danger'

= content_for :javascript do
  :plain
    $('#update-address').validate();
    $('#change-address').click(function(){$('.update-address').slideToggle();});
    $('#change-payment').click(function(){$('.update-payment').slideToggle();});

    $('.shipping-address').change(function(){
      $.ajax({
        type: "PUT",
        dataType: 'json',
        url: "/subscriptions/" + $(this).attr('subscription_id'),
        data: { 'subscription[address_id]': $(this).attr('address_id') }
      }).done(function(data) {
        $('#ship-to').html("<strong>" + data['address']['first_name'] + " " + data['address']['last_name'] + "</strong><br/>" + data['address']['address1'] + " " + data['address']['address2'] + "<br/>" + data['address']['city'] + ", " + data['address']['state'] + " " + data['address']['zip']);
        $('.update-address').slideToggle();
      });
    });

    $('.subscription-credit-card').change(function(){
      $.ajax({
        type: "PUT",
        url: "/credit_cards/" + this.id,
        data: { 'credit_card[is_default]': "true" },
        beforeSend: function() {$('#credit-cards-table').fadeTo('slow', 0.33);}
      }).done(function( data ) {
        $('#payment-info').html(data['card_type'] + " ending in " + data['last4']);
        $('#credit-cards-table').css({ opacity: 1.0 });
        $('.update-payment').slideToggle();
      });
    });
