%div{style: 'border:1px solid gray;padding:10px;'}
  %h4 Yin and Yang
  #{image_tag 'yin-yang.jpg', class: 'img-thumbnail'}
  %h5 Shipped on #{shipment.scheduled_at.strftime('%B %-d, %Y')}

-# %div{style: 'border:1px solid gray;padding:10px;'}
-#   %h4 Yin and Yang
-#   #{image_tag 'yin-yang.jpg', class: 'img-thumbnail'}
-#   %h5 Shipped on #{shipment.scheduled_at.strftime('%B %-d, %Y')}

-# %div.col-xs-4{style: 'border:1px solid gray;padding-top:10px;'}
-#   %h4 Yin and Yang
-#   #{image_tag 'yin-yang.jpg'}
-#   %h5 Shipped on #{shipment.scheduled_at.strftime('%B %-d, %Y')}
-# 
-# %div.col-xs-4{style: 'border:1px solid gray;padding-top:10px;'}
-#   %h4 Yin and Yang
-#   #{image_tag 'yin-yang.jpg'}
-#   %h5 Shipped on #{shipment.scheduled_at.strftime('%B %-d, %Y')}
-# 
-# 
-# %div.col-xs-4{style: 'border:1px solid gray;padding-top:10px;'}
-#   %h4 Yin and Yang
-#   #{image_tag 'yin-yang.jpg'}
-#   %h5 Shipped on #{shipment.scheduled_at.strftime('%B %-d, %Y')}
-# 
-# %div.col-xs-4{style: 'border:1px solid gray;padding-top:10px;'}
-#   %h4 Yin and Yang
-#   #{image_tag 'yin-yang.jpg'}
-#   %h5 Shipped on #{shipment.scheduled_at.strftime('%B %-d, %Y')}
-# 
-# %div.col-xs-4{style: 'border:1px solid gray;padding-top:10px;'}
-#   %h4 Yin and Yang
-#   #{image_tag 'yin-yang.jpg'}
-#   %h5 Shipped on #{shipment.scheduled_at.strftime('%B %-d, %Y')}
-# 
-# %div.col-xs-4{style: 'border:1px solid gray;padding-top:10px;'}
-#   %h4 Yin and Yang
-#   #{image_tag 'yin-yang.jpg'}
-#   %h5 Shipped on #{shipment.scheduled_at.strftime('%B %-d, %Y')}
-# 
-# 
-# %div.col-xs-4{style: 'border:1px solid gray;padding-top:10px;'}
-#   %h4 Yin and Yang
-#   #{image_tag 'yin-yang.jpg'}
-#   %h5 Shipped on #{shipment.scheduled_at.strftime('%B %-d, %Y')}
-#   
-# %div.col-xs-4{style: 'border:1px solid gray;padding-top:10px;'}
-#   %h4 Yin and Yang
-#   #{image_tag 'yin-yang.jpg'}
-#   %h5 Shipped on #{shipment.scheduled_at.strftime('%B %-d, %Y')}
